@model LuckIndia.UI.Models.PlayQuizModel
@{
    ViewBag.Title = "Play Quiz Game";
}

@using (Html.BeginForm("Index", "QuizGame", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
<div class="container">
    <div class="page-header">
        <h2>@ViewBag.Title</h2>
    </div>
    <div role="form">
        <div class="container">
            <div class="row">
                <div class="row form-horizontal">
                    <div class="col-md-4">
                        @Html.Label("Name of Game: ")
                    </div>
                    <div class="col-md-4">
                        @{                         
                            var selectlist = new List<SelectListItem>();
                            Model.QuizType.ForEach( m=>
                                    selectlist.Add(
                                        new SelectListItem
                                        {
                                          Text = m.name,
                                          Value = m.Id.ToString()  
                                        }
                                    )
                                );               
                        }
                        @Html.DropDownList("Game", selectlist, "Select Quiz");
                        
                    </div>
                    <div class="col-md-4">
                        @Html.Label("Current Balance : ")
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row form-horizontal">
                    <div class="col-md-4 control-label" style="text-align:left">
                        @Html.Label("Each Title Cost: ")
                    </div>
                    <div class="col-md-4 col-md-offset-4 control-label">
                        @Html.Label("Win exciting gifts")
                    </div>
                </div>
            </div>
            <hr />
        </div>
        <div class="container">
            <div class="row">
                <div class="row form-horizontal">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Story, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextAreaFor(m => m.Story, new { @class = "form-control", rows = 6})
                                </div>
                            </div>

                            <div class="form-group">
                                @Html.LabelFor(m => m.Option0, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option0, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option1, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option1, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option2, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option2, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option3, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option3, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option4, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option4, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option5, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option5, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option6, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option6, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option7, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option7, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option8, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option8, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option9, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option9, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.LabelFor(m => m.Option10, new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option10, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.Label("Option Count", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    @Html.TextBoxFor(m => m.Option10, new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="form-group">
                                @Html.Label("Select Your Title", new { @class = "col-md-3 control-label" })
                                <div class="col-md-9">
                                    <img src="~/Images/orderedList0.png" />
                                    <img src="~/Images/orderedList1.png" />
                                    <img src="~/Images/orderedList3.png" />
                                    <img src="~/Images/orderedList4.png" />
                                    <img src="~/Images/orderedList5.png" />
                                    <img src="~/Images/orderedList6.png" />
                                    <img src="~/Images/orderedList7.png" />
                                    <img src="~/Images/orderedList8.png" />
                                    <img src="~/Images/orderedList9.png" />
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-12 col-md-offset-3">
                                    <input type="submit" class="btn btn-default" value="Submit" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
}


